<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
  <h1>{{pageTitle}}</h1>
  <nav><a class="btn" href="/users">Usuarios</a> <a class="btn" href="/">Inicio</a></nav>
</header>

{{{body}}}

</body>
</html>
