<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
    <nav><a href="/">Inicio</a> · <a href="/users/new">Nuevo usuario</a></nav>
    <hr/>
  </header>

  {{{content}}}

  <script src="/script.js"></script>
</body>
</html>
