<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Usuario {{id}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
  <h1>Usuario: {{name}}</h1>
  <nav>
    <a class="btn" href="/users/{{id}}/edit"> Editar</a>
    <a class="btn" href="/users">← Volver</a>
  </nav>
</header>

<article class="card">
  <p><strong>ID:</strong> {{id}}</p>
  <p><strong>Nombre:</strong> {{name}}</p>
  <p><strong>Email:</strong> {{email}}</p>
</article>

</body>
</html>
